// @import '../../scss/colors.scss';

$cell-padding: .5rem;

.theme-dhb {
    .fg-sportfoto {
        display: none!important;
    }
}

.overview {
    display: flex;
    justify-content: center;

    .team-overview {
        width: 690px;
        margin: 0 1rem;

        > span {
            padding: .5rem 1.75rem;
            font-size: var(--font-size-team);
            color: var(--color-font);
            background-color: var(--color-base-transparent-70);
            display: block;
        }
        // box-shadow: 0px 0px 11px -3px #000000;

        table {
            border-collapse: collapse;
            width: 100%;
            thead {
                th {
                    background-color: var(--color-base);
                    color: var(--color-font);
                    padding: $cell-padding;
                    text-align: center;
                    font-size: var(--font-size-table);
                    font-weight: normal;

                    &.align-left {
                        text-align: left;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        color: var(--color-font);
                        padding: $cell-padding;
                        font-weight: normal;
                        text-align: center;
                        background-color: var(--color-base-transparent-70);

                        &.align-left {
                            text-align: left;
                        }
                    }
                }

                // tr:nth-child(even) {
                //     td {
                //         background-color: lighten($color-base, 20%);
                //     }
                // }

                // tr:nth-child(odd) {
                //     td {
                //         background-color: lighten($color-base, 30%);
                //     }
                // }

                
            }
        }
    }
}