@import '../../scss/colors.scss';


.scorepanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 1rem;

    .center-row {
        display: flex;
        flex-direction: row;
        font-size: 18px;

        .team {

            display: flex;
            z-index: 1;
            position: relative;

            .name {
                background: $color-base;
                color: $color-font;
                padding: .25rem 2rem;
                line-height: 27px;
                min-width: 130px;
                text-align: center;
                flex-grow: 1;
                // font-weight: bold;
            }

            .color {
                width: 10px;
                height: 100%;
                background: $color-penalty;
            }
        }

        .empty-goal {
            color: $color-font;
            padding: .25rem 1rem;
            font-size: 14px;
            display: inline-block;
            margin-left: 10px;
            transform: translateY(100%);
            z-index: 0;
            transition: transform .3s;
            position: relative;
        }

        .penalty {
            background: $color-penalty;
        }

        .empty-goal {
            background: $color-score;
            color: $color-base;
        }

        .empty-goal-container {
            display: flex;
            margin-top: 7px;
        }

        .penalties {
            display: flex;
            flex-wrap: wrap;
        }

        .section {
            display: flex;
            flex-direction: column;
            width: 250px;

            &.home {

            }

            &.away {
                .empty-goal-container {
                    justify-content: flex-end;

                    .empty-goal {
                        margin-right: 10px;
                    }
                }

                .team {
                    flex-direction: row-reverse;
                }

                .penalties {
                    flex-direction: row-reverse;
                    padding-right: 10px;
                }
            }

            &.has-empty-goal {
                .empty-goal {
                    transform: translateY(0);
                }
            }
        }

        .game {

            .goals {
                background: $color-score;
                color: $color-base;
                padding: .25rem 2rem;
                // font-weight: bold;
                font-size: 25px;
                line-height: 27px;
                text-align: center;
                min-width: 100px;
                z-index: 1;
                position: relative;
            }

            .timeout-reason {
                background: $color-time;
                color: $color-font;
                padding: .25rem 2rem;
                font-weight: lighter;
                text-align: center;
                font-size: 14px;
                transform: translateY(-100%);
                z-index: 0;
                transition: transform .3s;
                position: relative;

                &.is-active {
                    transform: translateY(0);
                }
            }
        }
    }
}