@import '../../scss/colors.scss';

.info-display {
    // position: fixed;
    // bottom: 0;

    // padding: 5rem;
    display: flex;

    flex-direction: row;

    // animation-duration: .8s;

    // &.in {
    //     animation-name: slidein;
    // }

    // &.out {
    //     animation-name: slideout;
    //     transform: translateX(-100%);
    // }

    .details {
        display: flex;
        flex-direction: column;
        min-width: 450px;
        background: $color-base;

        .team {
            padding: .5rem .75rem 0;
            color: $color-score;
        }

        .name {
            font-size: 28px;
            padding: 0 .75rem;
            color: $color-font;
        }

        .data {
            padding: 0 .75rem;
            color: $color-font;
            font-size: 32px;

            &.penalty {
                color: $color-penalty;
            }

            &.goal {
                color: $color-success;
            }

            &.yellow-card,
            &.time-penalty {
                color: $color-warning;
            }

            &.red-card {
                color: $color-penalty;
            }

            &.blue-card {
                color: $color-penalty;
            }
        }
    }

    .number {
        background: $color-score;
        height: 120px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
}


@keyframes slidein {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideout {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}