body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.notification__item {
  box-shadow: none!important;
  margin: 0!important;
  border-radius: 0!important;
}

.notification {
  /* height: auto!important; */
  /* width: auto!important; */
  /* transition: none!important; */
}